{% extends 'base.html' %}
{% block content %}
    <h1>Freie Räume</h1>
    <form method="get" class="content-box">
        <label for="datetime">Wähle einen Zeitpunkt:</label>
        <input type="datetime-local" id="datetime" name="datetime" required>
        <button type="submit">Anzeigen</button>
    </form>
    <hr>
    <h2>Freie Räume</h2>
    {% if rooms %}
        <div class="room-list">
            {% for room in rooms %}
                <div class="room-card">
                    <div class="room-details">
                        <h3>Raum {{ room.number }}</h3>
                        <p>Gebäude: {{ room.building.name }}</p>
                    </div>
                    <a href="{% url 'book_room' room.id %}" class="button">Raum buchen</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Keine freien Räume zum ausgewählten Zeitpunkt.</p>
    {% endif %}
{% endblock %}
