{% extends 'base.html' %}
{% block title %}Räume im Gebäude{% endblock %}

{% block content %}
    <h2>Räume im Gebäude {{ building.name }}</h2>
    <hr>
    <div class="room-list">
    {% for room in rooms %}
        <div class="room-card">
            <div class="room-details">
                <h3>Raum {{ room.number }}</h3>
                <p>Kapazität: {{ room.capacity }} Personen</p>
            </div>
            <a href="{% url 'book_room' room.id %}" class="button">Raum buchen</a>
        </div>
    {% endfor %}
    </div>
    <a href="{% url 'building_list' %}" class="btn-back">Zurück zur Gebäudeauswahl</a>

{% endblock %}
